<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ＮＳＴ５周年記念 スマホ早打ち王決定戦</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@1.4.8/lib/theme-default/index.css">
</head>
<body>
  <div id="app">
    <!-- ヘッダ -->
    <el-row>
      <el-col :span="24">
        <div class="grid-content">
          <h1>ＮＳＴ５周年記念 スマホ早打ち王決定戦</h1>
        </div>
      </el-col>
    </el-row>
    <!-- 準備中画面 -->
    <el-row v-if="! hasRound">
      <el-col :span="24">
        <div class="grid-content">
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <span style="line-height: 36px;">現在準備中です(￣∇￣)</span>
            </div>
            <div>
              お手持ちのスマホで以下にアクセスしてください。<br />
              <a href="dummy">https://xxxxx/xxx/</a>
            </div>
          </el-card>
        </div>
      </el-col>
    </el-row>
    <el-row v-if="hasRound">
      <el-col :span="24">
        <el-tabs :value="activeTabName">
          <el-tab-pane v-for="round in roundsArray" :key="round.roundId" :label="round.roundName"　:name="round.roundId">
            <!-- ラウンド情報 -->
            <el-row>
              <el-col :span="8">
                <span style="font-size:x-large">残り　{{ remainsTimeOf(round.roundId) }}</span>
              </el-col>
              <el-col :span="8" style="margin-bottom:10px">
                <el-alert
                  v-if="round.status === 'RUNNING'"
                  title="入力受付中"
                  type="success"
                  :closable="false"
                  >
                </el-alert>
                <el-alert
                  v-if="round.status === 'READY'"
                  title="準備中"
                  type="warning"
                  :closable="false">
                </el-alert>
                <el-alert
                  v-if="round.status === 'FINISH'"
                  title="終了"
                  type="error"
                  :closable="false">
                </el-alert>
              </el-col>
              <el-col :span="8">
              </el-col>
            </el-row>
            <!-- 得点 -->
            <el-row>
              <el-col :span="6" v-for="team in getTeamsOf(round.roundId)" :key="round.roundId + team">
                <el-card class="box-card">
                  <div slot="header" class="clearfix">
                    <img :src="getTeamLogoPath(team)" />
                    <span style="float:right; font-size:4em">{{ getScoreOf(round.roundId,team) }}</span>
                  </div>
                  <div>
                    <el-table
                      :data="getTopPlayersOf(round.roundId,team)"
                      style="width: 100%"
                      empty-text="入力待ち(-_-)"
                      >
                      <!--el-table-column
                        prop="rank"
                        label="順位"
                        width="60"
                      -->
                      </el-table-column>
                      <el-table-column
                        prop="userName"
                        label="名前">
                      </el-table-column>
                      <el-table-column
                        prop="score"
                        label="得点"
                        width="60"
                      >
                      </el-table-column>
                    </el-table>
                    <!--debug-->
                    <!--pre>
                      {{ getTopPlayersOf(round.roundId,team) }}
                    </pre-->
                  </div>
                </el-card>
              </el-col>
            </el-row>
          </el-tab-pane>
        </el-tabs>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24">
        <div class="grid-content">
          <p>
            <a :href="getControllerUrl" target="_blank"><el-button type="primary" icon="setting"></el-button></a>
          </p>
        </div>
      </el-col>
    </el-row>

    <!-- debug -->
    <!--el-row>
      <pre>
        {{ JSON.stringify(rounds,null," ") }}
      </pre>
    </el-row-->
  </div>
</body>
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- element-ui -->
  <script src="https://unpkg.com/element-ui@1.4.8/lib/index.js"></script>
  <!-- PUBNUB -->
  <script src="https://cdn.pubnub.com/pubnub.min.js"></script>
  <!-- app script-->
  <script src="./js/const/pubnub.js"></script>
  <script src="./js/const/channel.js"></script>
  <script src="./js/const/action.js"></script>
  <script src="./js/const/round.js"></script>
  <script src="./js/const/team.js"></script>
  <script src="./js/module/uuid.js"></script>
  <script src="./js/logic/game_master.js"></script>
</html>
