<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ＮＳＴ５周年記念 文字早打ちコンテスト</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
</head>
<body>
  <div id="app">
    <!-- ヘッダ -->
    <el-row>
      <el-col :span="24">
        <div class="grid-content">
          <h1>ＮＳＴ５周年記念 文字早打ちコンテスト</h1>
        </div>
      </el-col>
    </el-row>
    <!-- 準備中画面 -->
    <el-row v-if="! hasRound">
      <el-col :span="24">
        <div class="grid-content">
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <span style="line-height: 36px;">現在準備中です(￣∇￣)</span>
            </div>
            <div>
              お手持ちのスマホで以下にアクセスしてください。<br />
              <a href="dummy">https://xxxxx/xxx/</a>
            </div>
          </el-card>
        </div>
      </el-col>
    </el-row>
    <el-row v-if="hasRound">
      <el-col :span="24">
        <el-tabs>
          <el-tab-pane v-for="round in roundsArray" :key="round.roundId" :label="round.roundName">
            <!-- ラウンド情報 -->
            <el-row>
              <el-col :span="24">
                <el-card class="box-card">
                  <div slot="header" class="clearfix">
                    <span style="line-height: 36px;">ラウンド情報</span>
                  </div>
                  <div>
                    <dl>
                      <dt>ラウンド名</dt>
                      <dd>{{ round.roundName }}</dd>
                      <dt>問題数</dt>
                      <dd>{{ round.words.length }}問</dd>
                      <dt>制限時間</dt>
                      <dd>{{ round.remainsSec }} / {{ round.limitSec }}(秒)</dd>
                      <dt>状態</dt>
                      <dd>{{ round.status }}</dd>
                    </dl>
                  </div>
                </el-card>
              </el-col>
            </el-row>
            <!-- 得点 -->
            <el-row>
              <el-col :span="6" v-for="team in getTeamsOf(round.roundId)" :key="round.roundId + team">
                <el-card class="box-card">
                  <div slot="header" class="clearfix">
                    <span style="line-height: 36px;">{{ team }}</span>
                  </div>
                  <div>
                    {{ getScoreOf(round.roundId,team) }}
                  </div>
                </el-card>
              </el-col>
            </el-row>
          </el-tab-pane>
        </el-tabs>
      </el-col>
    </el-row>
    <!-- debug -->
    <!--el-row>
      <pre>
        {{ JSON.stringify(rounds,null," ") }}
      </pre>
    </el-row-->
  </div>
</body>
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- element-ui -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <!-- PUBNUB -->
  <script src="https://cdn.pubnub.com/pubnub.min.js"></script>
  <!-- app script-->
  <script src="./js/const/pubnub.js"></script>
  <script src="./js/const/action.js"></script>
  <script src="./js/const/team.js"></script>
  <script src="./js/module/uuid.js"></script>
  <script src="./js/logic/game_master.js"></script>
</html>
