<!DOCTYPE html>
<html>
<head>
  <title>Game Master操作用画面</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@1.4.8/lib/theme-default/index.css">
</head>
<body>
  <div id="app">
    <template>
      <el-form ref="form" label-position="left" label-width="120px">
        <el-form-item label="制限時間（秒）">
          <el-input-number
            v-model="roundInfo.limitSec"
            :value="roundInfo.limitSec"
            :min="15"
            :max="600">
          </el-input-number>
        </el-form-item>
        <el-form-item label="集計対象人数">
          <el-input-number
            v-model="roundInfo.aggregateCount"
            :value="roundInfo.aggregateCount"
            :min="1"
            :max="100">
          </el-input-number>
        </el-form-item>
        <el-form-item label="ラウンド名">
          <el-input
            v-model="roundInfo.roundName"
            :value="roundInfo.roundName"
            placeholder="ラウンド名">
          </el-input>
        </el-form-item>
        <el-form-item label="配信データ">
          <el-input
            type="textarea"
            :rows="15"
            v-model="screenInfo.wordsString"
            :value="screenInfo.wordsString"
            placeholder="配信データ">
          </el-input>
        </el-form-item>
        <el-form-item label="ラウンド操作">
          <el-button
            type="primary"
            size="large"
            v-on:click="roundStart"
            :disabled="screenInfo.inputWords === ''">スタート</el-button>
          <el-button
            type="danger"
            size="large"
            v-on:click="roundFinish"
            :disabled="roundInfo.roundId === ''">終了</el-button>
        </el-form-item>
        <el-form-item label="個人戦候補者">
          <el-button
            type="primary"
            size="large"
            v-on:click="openRanking">表示</el-button>
          <el-button
            type="danger"
            size="large"
            v-on:click="closeRanking">閉じる</el-button>
          </el-form-item>
        </el-form>
    </template>
  </div>        
</body>
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- element-ui -->
  <script src="https://unpkg.com/element-ui@1.4.8/lib/index.js"></script>
  <!-- PUBNUB -->
  <script src="https://cdn.pubnub.com/pubnub.min.js"></script>
  <!-- app script-->
  <script src="./js/const/pubnub.js"></script>
  <script src="./js/const/channel.js"></script>
  <script src="./js/const/action.js"></script>
  <script src="./js/logic/gm_ui.js"></script>
</html>