<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ＮＳＴ５周年記念 文字早打ちコンテスト</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
</head>
<body>
  <div id="app">
    <!-- チーム選択画面 -->
    <template v-if="userInfo.team ==='INVALID'">
      <p><el-input :value="userInfo.userName" v-model="userInfo.userName" placeholder="社員番号 or お名前の入力"></el-input></p>
        <el-row>
          <transition
            v-for="( team, index ) in screenInfo.teamList"
            :key="index"
            name="el-zoom-in-center">
            <el-button type="text" v-show="userInfo.userName !== ''" size="large" v-on:click="selectTeam( team.value )">
              <img :src="team.image" class="image">
            </el-button>
          </transition>
        </el-row>
    </template>

    <!-- タイピング画面 -->
    <template v-else>
      <el-row>
          <el-col>
            <img :src="getTeamImage" class="image">
          </el-col>
          <el-col>
            {{userInfo.userName}}さん
          </el-col>
      </el-row>
      <template v-if="isRoundReady">
        <p icon='el-icon-loading'>ラウンド開始までしばらくお待ちください。</p>
      </template>
      <template v-else>
        <el-progress :percentage="calcTypingProgress" status="success"></el-progress>
        {{dispTypingWord}}<br>
        {{dispViewWord}}
      </template>
      <p>
        <el-input
          v-on:change ="typing"
          :value      ="screenInfo.typing"
          v-model     ="screenInfo.typing"
          :placeholder="dispTypingWord"
          v-loading   ="!isRoundRunning"
          element-loading-text="準備中..."
          :disabled   ="!isRoundRunning">
        </el-input>
      </p>
    </template>
  </div>
</body>
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- element-ui -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <!-- PUBNUB -->
  <script src="https://cdn.pubnub.com/pubnub.min.js"></script>
  <!-- app script-->
  <script src="./js/const/pubnub.js"></script>
  <script src="./js/const/action.js"></script>
  <script src="./js/const/team.js"></script>
  <script src="./js/module/uuid.js"></script>
  <script src="./js/logic/player.js"></script>
</html>
